<?xml version="1.0"?>
<model>
  <name>M1 Abrams</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>leonciohermosillo</name>
    <email>lhermosillo@pheratech.com</email>
  </author>

  <description>
    M1 Abrams main battle tank. Mesh sourced from Sketchfab (see
    source/ and textures/). Textured OBJ visual, primitive-box
    collision. Static scenery model.
  </description>
</model>
